# Use the exact repository URL for least privilege.
# If you later want one Argo CD credential template for multiple repos,
# switch this to an org prefix such as https://github.com/litomi2026
url=https://github.com/litomi2026/litomi-gitops.git
type=git
githubAppID=replace-with-github-app-id
githubAppInstallationID=replace-with-github-app-installation-id
githubAppPrivateKey=$'-----BEGIN RSA PRIVATE KEY-----\nreplace-with-github-app-private-key\n-----END RSA PRIVATE KEY-----\n'
